@{ ViewData["Title"] = "About Us"; }

<h1> @ViewData["Title"] </h1>

<p>
    Here at Rent-A-Tool we empower our users to accomplish any D.I.Y. dream.
    We allow users to not only find the tools they need to accomplish each project
    but to also offset those lofty costs of specialty tools. Yeah..... your welcome!
</p>