@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>MWAHAHAHAHAHAHAHAHAHA..... Privacy?  You think you have privacy here? N.....S.....A....</p>
<img src="https://media1.tenor.com/images/2083ce5d87d82f6682cf9f5f0a551797/tenor.gif?itemid=11810174" />
