@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<style type="text/css">
    .loginbtn {
        padding-top: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Search for ANY tool</h1>

</div>
<form>
    <label for="uname">Search:</label><br>
    <input type="text" id="search" name="search"><br>
</form>

<div class="loginbtn">
    <input type="submit" value="search" class="btn btn-primary" />
</div>
